@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #333333 transparent;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 4px;
}

.code-block {
  font-family: 'Fira Code', 'Cascadia Code', 'JetBrains Mono', monospace;
}